@media only screen and (max-width:559px) {
    div.main h1 {
        font-size: 30px;
    }

    div.main h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width:1480px) {
    div.holder img {
        width: 300px;
        height: 300px;
    }

    div.main h1 {
        font-size: 40px;
    }

    div.main h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width:1080px) {
    div.main P {
        font-size: 17px;
        font-family: sans-serif;
        color: white;
    }

    div.main h1 {
        font-size: 33px;
    }

    div.main h2 {
        font-size: 28px;
    }

    div.holder img {
        width: 250px;
        height: 250px;
    }


}

@media only screen and (max-width:1200px) {
    div.bord div.html {
        border: 5px solid #7cf03d;
        border-radius: 12px;
        width: 250px;
        height: 270px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        padding: 25px;
        margin: 35px;
    }

    div.bord {
        display: flex;
        border: 2px solid black;
        box-shadow: 0 0 30px black;
        width: fit-content;
        height: fit-content;
        position: relative;
    }
}

@media only screen and (max-width:992px) {
    div.main h1 {
        font-size: 25px;
    }

    div.main h2 {
        font-size: 20px;
    }

    div.main P {
        font-size: 13px;
        font-family: sans-serif;
        color: white;
    }

    button.hire {
        border: 2px solid #7cf03d;
        color: #1f242d;
        background-color: #7cf03d;
        box-shadow: 0 0 10px #7cf03d;
        font-size: 15px;
        font-weight: 700;
        font-family: sans-serif;

    }

    div.holder {
        width: fit-content;
        height: fit-content;
        border-radius: 50%;
        margin-top: 190px;
        margin-left: 59px;

    }
}

@media only screen and (max-width:559px) {
    div.main h1 {
        font-size: 30px;
    }

    div.main h2 {
        font-size: 25px;
    }
}