@media only screen and (max-width:559px) {
    div.main h1 {
        font-size: 30px;
    }

    div.main h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width:1480px) {
    div.holder img {
        width: 300px;
        height: 300px;
    }

    div.main h1 {
        font-size: 40px;
    }

    div.main h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width:1080px) {
    div.main P {
        font-size: 17px;
        font-family: sans-serif;
        color: white;
    }

    div.main h1 {
        font-size: 33px;
    }

    div.main h2 {
        font-size: 28px;
    }

    div.holder img {
        width: 250px;
        height: 250px;
    }

    
}
@media only screen and (max-width:1200px) {
    div.bord div.html {
        border: 5px solid #7cf03d;
        border-radius: 12px;
        width: 250px;
        height: 270px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        padding: 25px;
        margin: 35px;
    }

    div.bord {
        display: flex;
        border: 2px solid black;
        box-shadow: 0 0 30px black;
        width: fit-content;
        height: fit-content;
        position: relative;
    }
}