@import "tailwindcss";

:root {
  --black: #0b132b;
  --green: #9ef01a;
  --white: #f7fee7;
}

button.white:hover {
  width: 100%;
  background-color: transparent;
  color: var(--black);
}

button.white {
  background-color: var(--black);
  border: 1px solid var(--black);
  position: relative;
}

button.black {
  background-color: black;
}

button.black:hover {
  background-color: var(--black);
  color: white;
}

button.secondary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

button.secondary:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.slider-track {
  display: flex;
  width: max-content;
  animation: slide 20s linear infinite;
}


/* Navbar */

@media (min-width : 1536px) {
  .navbar {
    gap: 185px;
  }

  #hero {
    padding: 0px 160px;
  }
}